 /* Style the button that is used to open and close the collapsible content */
 table {
    margin-top: .5em;
    color:  #dbedf3;
    font-family: 'Questrial', sans-serif;
 }

 tr.song:hover{
    background-color: #404b69;
    cursor: pointer; 
 }
 .collapsible {
     color: #444;
     width: 100%;
     height: 95%;
     padding: 10em;
     border: none;
     outline: none;
     background-position: left top, right top, left bottom, right bottom;
     background-repeat: no-repeat;
     background-size: 50%;

 }
 .playlist {
     padding: 0 18px;
     overflow: hidden;
     max-height: 0;
     transition: max-height 0.2s ease-out;
 }

 .playlistImg {
     width: 20em;
 }

.delete{
     display: none;
     overflow: hidden;
 }
.active{
    display: block;
    background-color: #283149;
 }
tr .active{
    border: 0;
}
