body{
    width: 100%;
    background-color: #283149;
}
header{
    background-color: #404b69;
}
#sidebar{
    background-color: #404b69;
}
h1{
    color: #f73859;
    font-family: 'Permanent Marker', cursive;
}
h2, p{
    color: #dbedf3;
    font-family: 'Questrial', sans-serif;
}
#sidebarCollapse{
    background-color: #f73859;
    color: #dbedf3;
}
#subtitle{
    font-family: 'Vibes', cursive;
}
.container{
    padding:.5em;
}
.wrapper{
    margin-left: 1em;
}
#icon{
    width: 6em;
}
#logo{
    padding: 0;
    margin: 0;
}
